# Build artifacts
dist/
wurdum-interop
wurdum-go-interop
wurdum-dotnet-interop

# Rust
rustlib/target/
rustlib/Cargo.lock

# Go
*.test
*.out

# .NET
dotnet/bin/
dotnet/obj/
*.dll
*.pdb
*.cache
*.rsp
*.props
*.targets
.dotnet/
*.user

# IDE
.vscode/
.idea/
*.swp
*.swo
.vs/

# OS
.DS_Store
